<h1>Edit Repo</h1>

<div class="row">
  <div class="col-sm-4">

    <p><a href="<%= github_repos_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-menu-left"></span> Go back
    </a></p>
    <br>
    <div class="alert alert-warning" role="alert">
      At any time you can remove this repo from the Open Help list.
    </div>
    <div class="alert alert-info" role="alert">
      Remove this repository when the necessary help is found.
    </div>
  </div>
  <div class="col-sm-8">
    <%= render 'form' %>
  </div>
</div>
