<h1>Needs some help?</h1>
<p>Add the repository you want to ask for help.</p>

<div class="row" id="github_repos">
  <div class="col-sm-6">
    <h3><%= current_user.nickname %> repos</h3>
    <ul>
      <% @user_repos.each do |repo| %>
        <li>
          <%= link_add_or_edit_repo repo %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6">
    <% @orgs.each do |org| %>
      <h3><%= org.login %> repos</h3>
      <ul>
      <%
      org_repos = Octokit.organization_repositories(org.login)
      org_repos.each do |repo|
      %>
        <li>
          <%= link_add_or_edit_repo repo %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
