<div class="row">
  <div class="col-sm-2 filters">
    <h3>Filters</h3>
    <ul>
      <li>
        <label>Programming Language: </label><%= select_tag(:programming_language,
          options_for_select(@programming_languages, params["programming_language"]),
          include_blank: "Any",
          class: "filter-repos form-control") %>
      </li>
      <li>
        <label>Language: </label><%= select_tag(:language,
          options_for_select(@languages.collect{ |b| [b.upcase, b] }, params["language"]),
          include_blank: "Any",
          class: "filter-repos form-control") %>
      </li>
    </ul>
  </div>

  <div class="col-sm-10">
    <h3>Projects that need your help</h3>

    <% @repos.each_slice(2) do |slice| %>
      <div class="row">
        <% slice.each do |repo| %>
          <div class="col-sm-6">
            <%= render "repos/content_list", repo: repo %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
