<a href='https://github.com/<%= user.nickname %>' target='_blank'>
  <span class='glyphicon glyphicon-sunglasses' aria-hidden='true'></span>
  <%= user.name %>
</a>

<span class='label label-info' title='Followers'>
  <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
  <%= user.followers %>
</span>

<span class='label label-warning' title='Repositories'>
  <span class='glyphicon glyphicon-hdd' aria-hidden='true'></span>
  <%= user.public_repos %>
</span>
