<div class="row">
  <div class="col-sm-12 text-center jumbotron">
    <h1>Open Help</h1>

    <h2>Encouraging beginners in the open-source world</h2>

    <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: "btn btn-md btn-default" %>
  </div>
</div>
