<div class="row">
  <div class="col-sm-12 text-center jumbotron">
    <h1>Open Help</h1>

    <h2>Encouraging beginners in the open-source world</h2>

    <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: "btn btn-md btn-default" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <p>Open Help was created to facilitate the integration of small projects developers on Github. There are two main objectives:</p>

    <h3>1. Encourage those who want to help in open-sources projects</h3>
    <p>Many developers wish to join the open-source world, but do not have enough experience (or sometimes are just insecure) to join large projects. Open Help supports you with this first step.</p>

    <p>Project Filters:</p>
    <ul>
      <li>Programming language</li>
      <li>Language (often a factor that inhibits participation)</li>
      <li>Star count</li>
      <li>Number of forks</li>
    </ul>

    <p>Furthermore, the fact that all projects listed in the Open Help have been inserted by their creators ensures that anyone who wants to help will be very welcome.</p>

    <p>Do not know how to make a pull request?</p>

    <p>Open Help will have a area designed to guide users with video tutorial and useful links.</p>

    <h3>2. To help developers get support for new projects</h3>

    <p>Many good projects die because the creator does not have time or the motivation to work on it alone. Open Help is the ideal place to get the necessary help. </p>
    <p>In addition to all the filters mentioned above, to register your project on Open Help, the owner can write a short essay explaining what kind of help one needs.</p>
  </div>
</div>
