@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Exo:400,700,200);

@import "base/scaffolds";

@import "modules/filters", "modules/navbar", "modules/repo";

$title-font: "Exo";

h1 {
  font-family: $title-font, sans-serif;
  font-size: 48px;
}

#logo {
  font-family: $title-font, sans-serif;
  font-size: 34px;

  &:hover {
    text-decoration: none;
    background: inherit;
    color: inherit;
  }
}
